In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('data_identification.csv')
em = pd.read_csv('emotion.csv')
sample=pd.read_csv('sampleSubmission.csv')
usr= pd.read_json('tweets_DM.json',lines=True)

In [3]:
print(df)

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [4]:
df.shape

(1867535, 2)

In [5]:
train_x=df.loc[lambda a: a.identification=='train']
test_x=df.loc[lambda a: a.identification=='test']

In [6]:
train_x

         tweet_id identification
1        0x29e452          train
2        0x2b3819          train
4        0x2a2acc          train
5        0x2a8830          train
6        0x20b21d          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1455563 rows x 2 columns]

In [7]:
test_x

         tweet_id identification
0        0x28cc61           test
3        0x2db41f           test
15       0x2466f6           test
23       0x23f9e9           test
31       0x1fb4e1           test
...           ...            ...
1867495  0x2c4dc2           test
1867496  0x31be7c           test
1867500  0x1ca58e           test
1867515  0x35c8ba           test
1867518  0x1d941b           test

[411972 rows x 2 columns]

In [38]:
#file = open('tweets_DM.json','r',encoding='utf-8')

In [39]:
"""papers = []
for line in file.readlines():
    dic= json.loads(line)
    papers.append(dic)"""

In [40]:
"""print(len(papers))
papers[0]"""

1867535

{'_score': 391,
 '_index': 'hashtag_tweets',
 '_source': {'tweet': {'hashtags': ['Snapchat'],
   'tweet_id': '0x376b20',
   'text': 'People who post "add me on #Snapchat" must be dehydrated. Cuz man.... that\'s <LH>'}},
 '_crawldate': '2015-05-23 11:42:47',
 '_type': 'tweets'}

In [11]:
df2=df

In [12]:
"""
for p in papers:
    score = p['_score']
    tweet_id= p['_source']['tweet']['tweet_id']
    hashtag=p['_source']['tweet']['hashtags']
    text=p['_source']['tweet']['text']
    
    usr= df.loc[df['tweet_id']==tweet_id]
    usr['score']=score
    usr['hashtag']=str(hashtag)
    usr['text']=text
    #df2.loc[df2['tweet_id']==tweet_id]=usr
"""

"\nfor p in papers:\n    score = p['_score']\n    tweet_id= p['_source']['tweet']['tweet_id']\n    hashtag=p['_source']['tweet']['hashtags']\n    text=p['_source']['tweet']['text']\n    \n    usr= df.loc[df['tweet_id']==tweet_id]\n    usr['score']=score\n    usr['hashtag']=str(hashtag)\n    usr['text']=text\n    #df2.loc[df2['tweet_id']==tweet_id]=usr\n"

In [13]:
#data_str = open('tweets_DM.json').read()

In [14]:
"""
data_list = json.loads(data_str)
data = [[d['_source']['tweet']['tweet_id'], d['_source']['tweet']['hashtags'],d['_source']['tweet']['text']] for d in data_list]
df = pd.DataFrame(data, columns=['tweetID', 'hashtag','text'])
"""

"\ndata_list = json.loads(data_str)\ndata = [[d['_source']['tweet']['tweet_id'], d['_source']['tweet']['hashtags'],d['_source']['tweet']['text']] for d in data_list]\ndf = pd.DataFrame(data, columns=['tweetID', 'hashtag','text'])\n"

In [15]:
usr.head()

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets

In [16]:
test=pd.io.json.json_normalize(usr['_source'])

c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [44]:
test.head()
test.shape

(1867535, 3)

In [18]:
#usr2= usr[usr.columns[0]]
usr2=pd.concat([test[test.columns[1]],usr[usr.columns[0]]], axis=1)
#usr2=pd.concat([usr2, usr[usr.columns[1]]], axis=1)
#usr2=pd.concat([usr2, usr[usr.columns[3]]], axis=1)
#usr2=pd.concat([usr2, usr[usr.columns[4]]], axis=1)
usr2=pd.concat([usr2, test[test.columns[0]]], axis=1)
#usr2=pd.concat([usr2, test[test.columns[1]]], axis=1)
usr2=pd.concat([usr2, test[test.columns[2]]], axis=1)
usr2.head()

,tweet.tweet_id,_score,tweet.hashtags,tweet.text
0,0x376b20,391,[Snapchat],"People who post ""add me on #Snapchat"" must be ..."
1,0x2d5350,433,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #..."
2,0x28b412,232,[bibleverse],"Confident of your obedience, I write to you, k..."
3,0x1cd5b0,376,[],Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>
4,0x2de201,989,[],"""Trust is not the same as faith. A friend is s..."

In [24]:
usr2=usr2.rename(columns={'tweet.tweet_id':'tweet_id'})
usr2.head()
final=pd.merge(train_x,usr2)

In [43]:
final.head(20)
final.shape

(1455563, 5)

In [35]:
final[lambda a: a.tweet_id=='0x27ae05']
#final.shape

,tweet_id,identification,_score,tweet.hashtags,tweet.text
19,0x27ae05,train,955,[],Aren't we all <LH> that our parents never had ...

In [30]:
final2=pd.merge(final,em)

In [51]:
final2.head()
#final2.shape

,tweet_id,identification,_score,tweet.hashtags,tweet.text,emotion
0,0x29e452,train,809,[],Huge Respectüñí @JohnnyVegasReal talking about l...,joy
1,0x2b3819,train,808,"[spateradio, app]",Yoooo we hit all our monthly goals with the ne...,joy
2,0x2a2acc,train,16,[],@KIDSNTS @PICU_BCH @uhbcomms @BWCHBoss Well do...,trust
3,0x2a8830,train,768,"[PUBG, GamersUnite, twitch, BeHealthy, StayPos...",Come join @ambushman27 on #PUBG while he striv...,joy
4,0x20b21d,train,70,"[strength, bones, God]",@fanshixieen2014 Blessings!My #strength little...,anticipation

In [33]:
#em[lambda a: a.emotion=='surprise']
final2[lambda a: a.emotion=='surprise']

,tweet_id,identification,_score,tweet.hashtags,tweet.text,emotion
58,0x278073,train,686,[PowerTV],This World Is Going <LH> #PowerTV,surprise
154,0x2fde94,train,648,[],@rooseveltlawren @ReiverFootball @GoReivers Ta...,surprise
162,0x24af4e,train,632,"[confuse, beginner]",I really need to get the hang of Twitter üòÇüòÇ <L...,surprise
220,0x32eb3d,train,519,[heartbroken],"Back from California, my phone got stolen... <...",surprise
307,0x292cae,train,158,[],After this steak I want some real women meat! ...,surprise
...,...,...,...,...,...,...
1455440,0x201531,train,318,[],@GartrellLinda @RobChristie11 I think @POTUS i...,surprise
1455441,0x302a44,train,992,"[webcam, phone, play, adultwork]",Naughty early morning on cam! Back online now ...,surprise
1455486,0x2bb583,train,855,[],@LauzzieBear you have not tweeted today <LH> üò±...,surprise
1455496,0x25f2ad,train,324,[],Jacob Sartorius CALLS OUT The Dinkster | <LH> üòØ,surprise
1455557,0x1e1004,train,337,[],Navy blue silk durag cause I'm <LH>,surprise

In [37]:
final2[lambda a: a.tweet_id=='0x21e2e8']

Empty DataFrame
Columns: [tweet_id, identification, _score, tweet.hashtags, tweet.text, emotion]
Index: []

In [47]:
testData=pd.merge(test_x,usr2)

In [48]:
testData.head()

,tweet_id,identification,_score,tweet.hashtags,tweet.text
0,0x28cc61,test,107,[],@Habbo I've seen two separate colours of the e...
1,0x2db41f,test,728,[],@FoxNews @KellyannePolls No serious self respe...
2,0x2466f6,test,491,[womendrivers],"Looking for a new car, and it says 1 lady owne..."
3,0x23f9e9,test,28,[robbingmembers],@cineworld ‚Äúonly the brave‚Äù just out and fount...
4,0x1fb4e1,test,925,[],Felt like total dog üí© going into open gym and ...

In [50]:
from sklearn.datasets import load_iris
from sklearn import tree
#from sklearn.cross_validation import train_test_split

In [54]:
#clf = tree.DecisionTreeClassifier()
#iris_clf = clf.fit(final2[final2.columns[0:4]], final2[final2.columns[5]])

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk

In [55]:


# build analyzers (bag-of-words)
BOW_500 = CountVectorizer(max_features=500, tokenizer=nltk.word_tokenize) 

# apply analyzer to training data
BOW_500.fit(final2['tweet.text'])

train_data_BOW_features_500 = BOW_500.transform(final2['tweet.text'])

## check dimension
train_data_BOW_features_500.shape

c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\feature_extraction\text.py:484: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

KeyboardInterrupt:

In [ ]:
train_data_BOW_features_500.toarray()